.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure it overlays everything */
}

.login-popup-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-popup-title img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.login-popup-inputs input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-popup-container button {
  width: 100%;
  padding: 10px;
  background-color: tomato;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.login-popup-condition {
  margin-top: 10px;
  font-size: 14px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}